#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.todo {
  color: white;
}

.list {
  gap: 10 px;
  display: flex;
  flex-direction: column;
}


.done {
  text-decoration: line-through;
  color: gray;
}
